<nav class="combat-controls prophecyCombatControl" data-tooltip-direction="UP">
    {{~#if hasCombat~}}

    {{!-- GM Controls --}}
    {{#if user.isGM}}
        {{#if combat.round}}
        <button type="button" class="inline-control combat-control" data-action="previousTurn"
                data-tooltip aria-label="{{localize 'PROPHECY.COMBAT.PreviousAction'}}">{{localize 'PROPHECY.COMBAT.PreviousAction'}}</button>

        <button type="button" class="inline-control combat-control last" data-action="nextRound"
                data-tooltip aria-label="{{ localize "PROPHECY.COMBAT.EndTurn" }}">{{localize 'PROPHECY.COMBAT.EndTurn'}}</button>

        <button type="button" class="combat-control combat-control-lg full withBorder" data-action="endCombat">
            <span>{{ localize "COMBAT.End" }}</span>
        </button>
        {{else}}
        <button type="button" class="combat-control combat-control-lg full" data-action="startCombat">
            <i class="fa-solid fa-swords" inert></i>
            <span>{{ localize "COMBAT.Begin" }}</span>
        </button>
        {{/if}}
    {{/if}}
    {{/if}}
</nav>